body {
  background-color: #EADEDB;
  font-family: 'Space Mono', monospace;
  text-align: center;
}

.jumbotron {
  background-color: #EC9787;
}

.jumbotron h1, p {
  text-align: center;
}

.jumbotron h1 {
  -webkit-animation: zoomIn 1s ;
}

.jumbotron p {
  -webkit-animation: fadeInUp 1.5s;
}

#orderToppings ul, li{
  color:red;
  margin-left: -50px;
  list-style-position: inside;
}

#kenny, #github {
  position: relative;
}

.kennyhalim {
  position: absolute;
  bottom: 0;
  right:0;
}

#kenny a {
  color: #223A5E;
}

.githublink {
  position: absolute;
  bottom: 0;
  left:0;
}

#github img {
  height: 40px;
  width: 40px;
}
