body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: white;
}

.jumbotron {
  background-color: #FD3A4A;
}

.jumbotron h1, p {
  text-align: center;
}

.jumbotron h1 {
  -webkit-animation: tada 1s ;
}

#intro h3 {
  -webkit-animation: flash 1s;
}

#intro img {
  width:55%;
  height:55%;
  -webkit-animation: pulse 0.7s;
  -webkit-animation-iteration-count:2;
}

#orderPage, #confirmationPage {
  display: none;
}

#orderPage {
  text-align: left;
}

#orderPage #selectToppings{
  text-align: center;
}

#orderPage #centerButton{
  text-align: center;
}

#orderToppings ul, li{
  color:#F2C649;
  margin-left: -50px;
  list-style-position: inside;
}

p .email {
  font-size:20px;
}

#kenny, #github {
  position: relative;
}

.kennyhalim {
  position: absolute;
  bottom: 0;
  right:0;
}

#kenny a {
  color: #50BFE6;
}

.githublink {
  position: absolute;
  bottom: 0;
  left:0;
}

#github img {
  height: 40px;
  width: 40px;
}
